<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Listado de clientes
    </div>
    <div class="card-body">
        <div class="form-group">
            <button class="btn btn-outline-primary" routerLink="/customer/create">Agregar</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <!-- <th>Compañia</th>            -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of customers">
                    <td>{{item.name}}</td>
                    <td>{{item.cellPhone}}</td>
                    <td>{{item.email}}</td>                          
                    <td>
                        <button class="btn btn-outline-success mx-2"
                            [routerLink]='["/customer/edit/" + item.id]'>Editar</button>               
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>