<form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="customerForm">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i>
            <strong>Agregar cliente</strong>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="companyId"> Compañia </label>
                            <select id="companyId" name="companyId" class="form-control" formControlName="companyId"
                                [ngClass]="{ 'is-invalid': submitted && formControl.companyId.errors }">
                                <option value="" disabled>Escoger una compañia</option>
                                <option *ngFor="let item of companies" [ngValue]="item.id">
                                    {{item.name}}
                                </option>
                            </select>
                            <div *ngIf="submitted && formControl.companyId.errors" class="invalid-feedback">
                                <div *ngIf="formControl.companyId.errors.required">La compañia es requerida
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label required">Nombre</label>
                            <input type="text" id="name" name="name" formControlName="name" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && formControl.name.errors }" />
                            <div *ngIf="submitted && formControl.name.errors" class="invalid-feedback">
                                <div *ngIf="formControl.name.errors.required">El nombre de la cliente es requerido</div>
                                <div *ngIf="formControl.name.errors?.maxlength">El nombre de la cliente debe ser menor a
                                    50 carácteres</div>
                            </div>
                        </div>
                     
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label required">Teléfono</label>
                            <input type="text" id="cellPhone" name="cellPhone" formControlName="cellPhone"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && formControl.cellPhone.errors }" />
                            <div *ngIf="submitted && formControl.cellPhone.errors" class="invalid-feedback">
                                <div *ngIf="formControl.cellPhone.errors.required">El télefono del cliente es
                                    requerido</div>
                                <div *ngIf="formControl.cellPhone.errors?.maxlength">El télefono del cliente debe ser
                                    menor a
                                    14 carácteres</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label required">Email</label>
                            <input type="text" id="email" name="email" formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && formControl.email.errors }" />
                            <div *ngIf="submitted && formControl.email.errors" class="invalid-feedback">
                                <div *ngIf="formControl.email.errors.required">El email del cliente es requerido
                                </div>
                                <div *ngIf="formControl.email.errors?.maxlength">El email del cliente debe ser
                                    menor a 100 carácteres</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <div class="form-group">
                        <label>Dirección:</label>
                        <div class="input-group">
                          <input
                            autocomplete="off"
                            formControlName="Address"                          
                            type="text"
                            class="form-control form-control-solid"
                            placeholder="Ingrease una dirección"
                          />
                        </div>
                      </div>              
                </div>
                <div class="form-group col-md-1 mt-4">
                    <button class="btn btn-outline-info" (click)="createAddress()">+</button> 
                
                  </div>
            </div>
            <div *ngIf="addressDetails.length" class="card">
                <div class="card-body">
                  <p>
                    <b
                      ><i class="fa fa-table" aria-hidden="true"></i> Detalle de Direcciones
                      - Items {{ addressDetails.length }}</b
                    >
                  </p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Address</th>                     
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of addressDetails; let i = index">
                        <th>{{ item.description }}</th>                     
                        <td>
                          <a
                            class="bottom"
                            (click)="deleteAddress(i)"
                            title="Eliminar fila"
                            ><i class="fa fa-minus-circle" aria-hidden="true">-</i
                          ></a>
                        </td>
                      </tr>                    
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-outline-primary mx-2">Guardar</button>
            <button class="btn btn-outline-info" (click)="backToList()">Volver al listado</button>
        </div>
    </div>
</form>